@inherits ComponentBase

<div class="card post-card mb-4 @Class" @attributes="AdditionalAttributes">
    <div class="card-body d-flex flex-column">
        <ul class="list-unstyled">
            <li>
                <strong>@Author</strong>
            </li>
            <li>
                @Title
            </li>
        </ul>
    </div>
</div>

@code {
[Parameter] public string Title { get; set; }
[Parameter] public string Author { get; set; }

// Add a property for class
[Parameter] public string Class { get; set; } = string.Empty;

[Parameter] public IDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();
}
